* {
    margin: 0px;
    padding: 0px;
}
form {
    text-align: center;
}
.form {
text-align: center;
padding-bottom: 30px;
}
body {
background-image: url(../avaliação2/A\ GUIDE\ TO\ JAPANESE\ STREETWEAR\ &\ THE\ 15\ BRANDS\ TO\ KNOW.jpg);    
}