@font-face {
    font-family:skull ;
    src: url(../avaliação2/font/army_rust/ARMY\ RUST.ttf);
}
* {
    margin: 0px;
    padding: 0px;
}
    #form {
    text-align: center;
    }
.form {
text-align: center;
width: 100px;
margin: 10px auto;
}
h1 {
    font-family: skull;
    border: rgb(0, 0, 0) groove 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
body {
    background-image: url(../avaliação2/A\ GUIDE\ TO\ JAPANESE\ STREETWEAR\ &\ THE\ 15\ BRANDS\ TO\ KNOW.jpg);
}
a {
    text-decoration: none;
    color: black;
}
.enter {
    padding-top: 30px;
}
label {
    font-family: skull;
}